@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at(file = "lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at(file = "stylesheets/github-markdown.css")">
        <link rel="shortcut icon" href="@routes.Assets.at(file = "images/favicon.ico")">
    </head>

    <body>
        <div class="container-fluid">
        @content
        </div>
    </body>
</html>