@import helper._

@(ramlForm: Form[String], mdResult: Option[Raml2MdResult], mdHtml: Option[String])(implicit request: RequestHeader)

@main("Pete Hazell - raml2md") {
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>raml2md</h1>
    </div>

    @form(action = routes.Raml2MdController.submit()) {
        @CSRF.formField

        <div class="form-group">
            <label for="raml-text-area">Paste your RAML:</label>
            <textarea class="form-control rounded-0" id="raml-text-area" name="ramlContents" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Convert to markdown</button>

        @for(m <- mdResult) {
            @m match {
                case Raml2MdSuccess(s) => {
                    <p></p>
                    <ul class="nav nav-tabs" id="resultTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="markdown-tab" data-toggle="tab" href="#markdown" role="tab" aria-controls="home" aria-selected="true">Markdown output</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-preview-tab" data-toggle="tab" href="#html-preview" role="tab" aria-controls="profile" aria-selected="false">HTML preview</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="resultTabsContents">
                        <div class="tab-pane fade show active" id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
                            <p></p>
                            <div class="markdown-output">
                                <pre class="pre-scrollable"><code id="markdownOutput">@s</code></pre>
                                <p></p>
                                <button onclick="copyToClipboard('markdownOutput')" class="btn btn-secondary btn-sm" type="button" id="copy-button" data-toggle="tooltip" data-placement="button">
                                    Copy to clipboard
                                </button>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="html-preview" role="html-preview" aria-labelledby="html-preview-tab">
                        @for(h <- mdHtml) {
                            <p></p>
                            <div class="markdown-body">
                            @Html(h)
                            </div>
                        }
                        </div>
                    </div>
                }

                case Raml2MdFailure(f) => {
                    <p></p>
                    <div class="alert alert-danger" role="alert">
                        <strong>Failed to convert RAML to markdown, the supplied RAML could be invalid.</strong>
                    </div>
                }
            }
        }
    }

    <p></p>
}